﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<link href="~/Content/css/formlogin.css" rel="stylesheet" />
<div class="wrapper">
    <h1>Đăng nhập</h1>
    @using (Html.BeginForm("Login", "Users"))
    {
        @Html.ValidationSummary(true)
        <div class="input-box">
            <input type="text" placeholder="Tên đăng nhập" name="NameCus" required>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Mật khẩu" name="PassCus" required>
            <i class="fa-solid fa-lock"></i>
        </div>
        <div class="remember-forgot">
            <label>
                <input type="checkbox">
            </label>
            <a href="#">Quên mật khẩu?</a>
        </div>
        <button type="submit" class="btn">
            Đăng nhập
        </button>
        <div class="register-link">
            <p>
                Bạn chưa có tài khoản?
                <a href="@Url.Action("Register", "Users")">Đăng ký</a>
            </p>
        </div>
    }
</div>