@{
    ViewBag.Title = "Logout";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<div class="container">
    <h2>Đăng xuất</h2>
    <p>Bạn có chắc chắn muốn đăng xuất?</p>
    @using (Html.BeginForm("Logout", "Users", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <button type="submit" class="btn btn-danger">Đăng xuất</button>
    }
</div>
