@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}
<link href="~/Content/css/formlogin.css" rel="stylesheet" />
<div class="wrapper">
    <h1>Đăng ký</h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="input-box">
            <input type="text" placeholder="Username" name="NameCus" required>
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Email" name="EmailCus" required>
            <i class="fa-solid fa-envelope"></i>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Số điện thoại" name="PhoneCus" required>
            <i class="fa-solid fa-phone"></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Mật khẩu" name="PassCus" required>
            <i class="fa-solid fa-lock"></i>
        </div>
        <div class="remember-forgot">
            <label>
                <input type="checkbox">
            </label>
            <a href="#">Tôi đồng ý với các điều khoản & chính sách</a>
        </div>
        <button type="submit" class="btn">
            Đăng ký
        </button>
        <div class="register-link">
            <p>
                Bạn đã có tài khoản?
                <a href="@Url.Action("Login", "Users")">Đăng nhập</a>
            </p>
        </div>
    }
</div>
