@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";

}
<link href="~/Content/css/login.css" rel="stylesheet" />
<div class="signup-box" style="height: 550px; width:400px">
    @using (Html.BeginForm("Register", "Users"))
    {
        @Html.ValidationSummary(true)
    <form class="form" id="a-form" action="">
        <h2 class=" form_title title ">ĐĂNG KÝ</h2>
        <input class="form__input" type="text" placeholder="Tên" name="NameCus" required />
        <input class="form__input" style="margin-top: 20px" type="email" placeholder="Email" name="EmailCus" required />
        <input class="form__input" style="margin-top: 20px" type="text" placeholder="Số điện thoại" name="PhoneCus" required>
        <input class="form__input" style="margin-top: 20px" type="password" placeholder="Mật khẩu" name="PassCus" required>
        <button class="form__button button submit" style="margin-left: 85px">ĐĂNG KÝ</button>
    </form>
    }
    <p class="text-primary">
        Bạn đã có tài khoản? <a href="~/Users/Login">Đăng nhập </a>
    </p>

</div>
