@model DemoWeb2.Models.Category

@{
    ViewBag.Title = "Delete";
    ViewBag.headTitle = "Xóa danh mục";
    Layout = "~/Views/Shared/_admin_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="swal-overlay swal-overlay--show-modal">
        <div class="swal-modal">
            <div class="swal-title" style="">Cảnh báo</div>
            <div class="swal-text" style="">Bạn có chắc chắn là muốn xóa sản phẩm này?</div>
            <div class="swal-footer">

                <div class="swal-button-container">
                    <button onclick="location.href='@Url.Action("Index", "Categories")'" class="swal-button swal-button--cancel">Hủy bỏ</button>
                </div>

                <div class="swal-button-container">
                    <input type="submit" value="Xóa" class="swal-button swal-button--confirm" />
                </div>
            </div>
        </div>
    </div>
 }
