
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@model List<DemoWeb2.Models.OrderDetail>

<h2>Order Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Unit Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.NamePro</td>
                <td>@item.Quantity</td>
                <td>@item.UnitPrice</td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
